* {
  box-sizing: border-box;
  cursor: var(--cursor);
}

.center {
  margin-left: auto;
  margin-right: auto;
}
.txt-center {
  text-align: center;
}

p {
  margin: 2%;
}

.pageLinks {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}